.main.user-show
  .container
    .user
      %img{:src => "/user_images/#{@user.image_name}"}/
      %h2= @user.name
      %p= @user.email
      - if @user.id == @current_user.id
        = link_to("編集", "/users/#{@user.id}/edit")
    %ul.user-tabs
      %li= link_to("投稿", "/users/#{@user.id}")
      %li.active= link_to("いいね!", "/users/#{@user.id}/likes")
    - @likes.each do |like|
      - newplayer = Newplayer.find_by(id: like.newplayer_id)
      .posts-index-item
        .post-right
          .post-user-name
            = link_to(newplayer.user.name, "/users/#{newplayer.user.id}")
          = link_to(newplayer.content, "/newplayers/#{newplayer.id}")
