<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">注目選手について入力</h1>
    <%= form_with model: @newplayer do |f| %>
      <div class="form">
        <div class="form-body">
          <% @newplayer.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>選手名</p>
          <%= f.text_field :player %>
          <p>所属チーム名</p>
          <%= f.text_field :from_team %>
          <p>出身校、出身チーム</p>
          <%= f.text_field :before_team %>
          <p>主なポジション</p>
          <%= f.select :position,[["投手","投手"],["捕手","捕手"],["一塁手","一塁手"],["二塁手","二塁手"],["三塁手","三塁手"],["遊撃手","遊撃手"],["外野手","外野手"],["その他","その他"]] %>
          <br />
          <%= f.label :画像 %>
          <%= f.file_field :img, class: "image" %>
          <p><%= f.check_box :remove_img %>画像を削除する</p>
          <p>その他選手についての情報</p>
          <%= f.text_area :content %>
          <%= f.submit "投稿" %>
        </div>
      </div>
    <%end%>
  </div>
</div>