<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
      </div>
      <p>
        <%= @newplayer.content %>
      </p>
        <div class="post-time">
        <%= @newplayer.created_at %>
      </div>
    <% if Like.find_by(user_id: @current_user.id, newplayer_id: @newplayer.id) %>
      <%= link_to("/likes/#{@newplayer.id}/destroy", {method:"post"}) do%>
        <span class="fa fa-heart like-btn-unlike"></span>
        <%end%>
      <% else %>
        <%= link_to("/likes/#{@newplayer.id}/create", {method:"post"}) do%>
        <span class="fa fa-heart like-btn"></span>
        <%end%>
      <% end %>
      <%= @likes_count %>
      <% if @newplayer.user_id == @current_user.id%>
       <div class="post-menus">
        <%= link_to("編集", "/newplayers/#{@newplayer.id}/edit") %>
        <%= link_to("削除", "/newplayers/#{@newplayer.id}/destroy", {method: "delete"}) %>
      </div>
     <% end%>
    </div>
  </div>
</div>